<!DOCTYPE html>
<html>
<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" />
  <link rel="stylesheet" href="style.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
  <div id="app">
    <header>
      <h1>My Cool Chat App</h1>
      <div id="header_options">
        <profile :actor="$gf.me"></profile>
        <button v-if="$gf.me" id="edit_profile_button" @click="editProfile = true">
          Edit Profile
        </button>
        <button @click="$gf.toggleLogIn">
          {{ $gf.me? 'Log Out' : 'Log In' }}
        </button>
      </div>
    </header>

    <template v-if="$gf.me">
      <div id="edit_profile_screen" v-if="editProfile" @click="editProfile = false">
        <div id="edit_profile_modal" @click="(event)=>event.stopPropagation()">
          <button class="button_background" id="close_button" @click="editProfile = false">
            Close X
          </button>
          <div id="userDetails">
            <h3>My Info</h3>
            <form @submit.prevent="setUsername">
              <input v-model="preferredUsername" placeholder="Choose a username..."/>
              <button type="submit" value="Set Username">Set Username</button>
            </form>
            <p id="result" class="transform">{{ usernameResult }}</p>
            <p>
              My Name: <name :actor="$gf.me" :editable="true"></name>
            </p>
            <profile :actor="$gf.me" :editable="true"></profile>  
          </div>
        </div>
      </div> 
      <h2 :id="myUsername ? 'my-heading' : '' ">
        Welcome {{myUsername}}
      </h2> 

      <div id="below_header">
        <div id="sidebar">
          <h3>{{group}}</h3>
          <p class= "group-form">
            <label for="group">
              Change the organization you're in:
            </label>
            <select v-model="group">
              <option v-for="g of groups">{{g}}</option>
            </select>
            <label for="groupToAdd">
              Create a new group
            </label>
            <input id="group" v-model="groupToAdd"/>
            <button @click="addGroup">Add Group</button>
          </p>
          <hr>
          <p class= "recipient-container">
            <label for="channel">
              Change the channel you're chatting in:
            </label>
            <select v-model="channel">
              <option v-for="context of channels">{{context}}</option>
            </select>
            <label for="channelToAdd">
              Create a new channel
            </label>
            <input id="channel" v-model="channelToAdd"/>
            <button @click="addChannel">Add Channel</button>
          </p>
          <template v-if="amAdmin">
            <hr>
            <p><strong>You are an admin of the {{group}}!</strong></p>
            <p>This means you can create events for the organization and give other users admin access! </p>
            <form @submit.prevent="giveAdminAccess">
              <label for="recipient">
                Type the user ID of who you'd like to give admin access to:
              </label>
              <input id="recipient" v-model="recipientUsernameSearch"/>
              <input type="submit" value="Search"/>
            </form>
            <p v-if="searchFeedback.length > 0">{{searchFeedback}}</p>
            <span>All Admin</span>
            <ul>
              <li v-for="admin of adminIDs">{{actorsToUsernames[admin]}}</li>
            </ul>
          </template>
        </div>
        
        <div id="rest">
          <div id="tabOptions" class="w3-bar w3-blue-gray">
            <button class="w3-bar-item w3-button" @click="setTab('Chats')" :class="tab=='Chats' ? 'checked' : '.notchecked' ">Chats</button>
            <button class="w3-bar-item w3-button" @click="setTab('Events')" :class="tab=='Events' ? 'checked' : '.notchecked' ">Events</button>
          </div>
    
          <div v-if="tab=='Chats'" id="chatsTab">
            <div v-if="channel !== ''">
              <form @submit.prevent="sendMessage" id="msg-form">
                <input v-model="messageText" placeholder="Type a message..."/>
                <input type="file" accept="image/*" @change="onImageAttachment"/>
                <button type="submit" value="Send" :disabled="channel.length == 0 | messageText.length==0">
                  Send
                </button>
              </form>
              <ol>
                <li v-for="message of messages" :key="message.id">
                  <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                    <input v-model="editText">
                    <input type="submit" value="Save"/>
                  </form>
                  <ul v-else class="message-contents">
                    <div class="message-from">
                      <profile :actor="message.actor"></profile>
                      <span>
                        <name :actor="message.actor"></name>
                        <span> [{{actorsToUsernames[message.actor]}}] sent</span>
                      </span>
                      <span class="date">({{ new Date(message.published).toLocaleString() }})</span>
                    </div>
                    <li class="msg-text">
                      {{ message.content }} 
                    </li>
                    <li v-if="message.attachment && message.attachment.magnet in imageDownloads">
                      <span v-if="imageDownloads[message.attachment.magnet]=='downloading'">
                        Image is downloading...
                      </span>
                      <span v-else-if="imageDownloads[message.attachment.magnet]=='error'">
                        Image could not be downloaded!
                      </span>
                      <img v-else :src="imageDownloads[message.attachment.magnet]" />
                    </li>
                    <like :messageid="message.id"></like>
                    <read :messageid="message.id" :actordict="actorsToUsernames"></read>
                    <template v-if="message.actor==$gf.me">
                      <li class="message-buttons">
                        <button @click="removeMessage(message)">
                          Delete Message
                        </button>
                        <button @click="startEditMessage(message)">
                          Edit Message
                        </button>
                      </li>
                    </template>
        
                    <details>
                      <summary>
                        Replies
                      </summary>
                      <reply :messageid="message.id" :actordict="actorsToUsernames"></reply>
                    </details>
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
          </div>
    
          <div v-else id="eventsTab">
            <events :group="group" 
                    :actorstousernames="actorsToUsernames" 
                    :channels="channels"
                    :myusername="myUsername"
                    :amadmin="amAdmin"
                    :adminids="adminIDs">
            </events>
          </div>
        </div>
      </div>    
    </template>
  </div>

  <template id="name">
    <span v-if="!editing">
      {{ profile? profile.name : 'Anonymous' }}
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <form v-else @submit.prevent="saveName">
      <input v-model="editText"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>

  <template id="profile">
    <span v-if="editable" id="my-profile-container">
      <p> My Profile Picture: </p>
      <span v-if="!image">
        Image could not be downloaded!
      </span>
      <img v-else :src="image" id="my-profile"/>
      <form @submit.prevent="setProfilePic">
        <input type="file" accept="image/*" @change="onImageAttachment"/>
        <input type="submit" value="Set Profile Picture" :disabled="file === null"/>
      </form>
    </span>
    <span v-else>
      <img v-if="image" :src="image" id="other-profile"/>
      <i v-else class='far fa-user-circle' id="other-profile-unknown"></i>
    </span>
  </template>

  <template id="like">
    <div class='heart-wrapper'>
      <ion-icon name="heart" @click="toggleLike" :class="myLikes.length ? 'active' : ''">
        <div class='red-bg'></div>
      </ion-icon>
      <span>{{ numLikes }}</span>
    </div>
  </template>

  <template id="reply">  
   <ol v-if="replies">
      <li v-for="message of replies" :key="message.id">
        <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
          <input v-model="editText">
          <input type="submit" value="Save"/>
        </form>
        <ul v-else class="message-contents">
          <div class="message-from">
            <profile :actor="message.actor"></profile>
            <span>
              <name :actor="message.actor"></name>
              <span> [{{actordict[message.actor]}}] sent</span>
            </span>
            <span class="date">({{ new Date(message.published).toLocaleString() }})</span>
          </div>
          <li class=" msg-text">
            {{message.content}}
          </li>
          <li v-if="message.attachment && message.attachment.magnet in imageDownloads">
            <span v-if="imageDownloads[message.attachment.magnet]=='downloading'">
              Image is downloading...
            </span>
            <span v-else-if="imageDownloads[message.attachment.magnet]=='error'">
              Image could not be downloaded!
            </span>
            <img v-else :src="imageDownloads[message.attachment.magnet]" />
          </li>
          <read :messageid="message.id" :actordict="actordict"></read>
          <template v-if="message.actor==$gf.me">
            <li class="message-buttons">
              <button @click="removeMessage(message)">
                Delete Message
              </button>
              <button @click="startEditMessage(message)">
                Edit Message
              </button>
            </li>
          </template> 
        </ul>
      </li>
      <li>
        <form @submit.prevent="sendReply" id="msg-form">
          <input v-model="messageText" placeholder="Type a reply..."/>
          <input type="file" accept="image/*" @change="onImageAttachment"/>
          <input type="submit" value="Send" :disabled="messageText.length==0"/>
        </form>
      </li>
    </ol>    
  </template>
  
  <template id="read">
    <details class="detail">
      <summary class="summary"> Read By </summary>
      {{ readsUsername.join(', ') }}
    </details>      
  </template>

  <template id="rsvp">
    <div id="event-rsvp">
      <h4><label for="answer">RSVP: </label></h4>
      <select name="answer" v-model="answer" @change="sendRSVP" :class="answer">
        <option>Yes</option>
        <option>No</option>
        <option>Maybe</option>
      </select>
    <p id="rsvp-yes">RSVPed Yes: {{ rsvpsUsername.join(', ') }}</p>
    </div>
  </template>

  <template id="events">
    <details v-if="amAdmin" open>
      <summary><h3>Create a New Event</h3></summary>
      <form @submit.prevent="createEvent" id="event-form">
        <label for="eventName">Event Name:</label>
        <input name="eventName" v-model="eventForm.name" required/>
        <label for="eventDesc">Event Description:</label>
        <textarea name="eventDesc" v-model="eventForm.desc"></textarea>
        <label for="eventStart">Event Start:</label>
        <input type="datetime-local" name="eventStart" v-model="eventForm.startTime" required>
        <label for="eventEnd">Event Start:</label>
        <input type="datetime-local" name="eventEnd" v-model="eventForm.endTime" required>
        <label for="location">Location:</label>
        <input id="location" name="location" v-model="eventForm.location" required>
        <label for="location">Choose a channel to pub to:</label>
        <select v-model="postToChannel">
          <option v-for="context of channels">{{context}}</option>
        </select>
        <button type="submit" value="Send"> Create Event </button>
      </form>
    </details>
    <div v-else>
      <h3>Create a New Event</h3>
      <p>To create an event, you must first be granted admin access</p>
      <button @click="requestAdminAccess()">Request Admin Access</button>
    </div>
    <hr>
    <div id="events-options">
      <select id="filter" v-model="filterBy">
        <option value="all">All Events</option>
        <option value="future">Upcoming Events</option>
      </select>
      <select id="filter" v-model="sortBy">
        <option value="EL">Earliest to Latest</option>
        <option value="LE">Latest to Earliest</option>
      </select>
    </div>
    <section id="events-list">
      <div v-for="event of filteredEvents"  class="event-contents">
        <form v-if="editID==event.id" @submit.prevent="saveEditEvent(event)" id="event-form">
          <label for="eventName">Event Name:</label>
          <input name="eventName" v-model="editEvent.name"/>
          <label for="eventDesc">Event Description:</label>
          <textarea name="eventDesc" v-model="editEvent.desc"></textarea>
          <label for="eventStart">Event Start:</label>
          <input type="datetime-local" id="start" name="eventStart" v-model="editEvent.startTime">
          <label for="eventEnd">Event Start:</label>
          <input type="datetime-local" id="end" name="eventEnd" v-model="editEvent.endTime">
          <label for="location">Location:</label>
          <input id="location" name="location" v-model="editEvent.location">
          <button type="submit" value="Save"> Save </button>
        </form>

        <template v-else class="event-contents">
          <div class="event-date">
            <div>{{months[new Date(event.startTime).getMonth()] }} </div>
            <div>{{new Date(event.startTime).getDate() }} </div>
          </div>
          <div class="event-details">
            <h4> {{ event.name }} </h4>
            <p><i> {{ event.desc }}</i></p>
            <p><strong>Location</strong>: {{ event.location }} </p>
            <p> <strong>Time</strong>: 
              {{ new Date(event.startTime).toLocaleDateString() === new Date(event.endTime).toLocaleDateString() ?
                new Date(event.startTime).toLocaleDateString() + " " + new Date(event.startTime).toLocaleTimeString() + "-" + new Date(event.endTime).toLocaleTimeString() :
                new Date(event.startTime).toLocaleString() + "-" + new Date(event.endTime).toLocaleString()
              }}
            </p>
            <template v-if="adminids.includes($gf.me)" >
              <div class="message-buttons">
                <button @click="removeEvent(event)"> Delete Event </button>
                <button @click="startEditEvent(event)"> Edit Event </button>
              </div>
            </template>
          </div>
          <rsvp :event="event.id" :actordict="actorstousernames"></rsvp>
        </template>
      </div>
    </section>
  </template>
</body>
</html>
