body {
    max-width: 100%;
    padding: 10px;
}

.recipient-container {
    display: block;
}

li {
    word-break: break-all;
}

#msg-form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 15px;
}

.message-from {
    display: grid;
    max-width: 22vw;
    grid-template-areas: "a b b" "c c c";
    align-items: center;
    margin-right: 10px;
}

.message-from > span:first-child {
    grid-area: a
}

.message-from > span:nth-child(2) {
    grid-area: b
}

.message-from > span:nth-child(3){
    grid-area: c
}

.message-contents {
    list-style: none;
}

.msg-text {
    white-space: pre-wrap;
    font-size: 22px;
}

.message-buttons * {
    margin-right: 10px;
}

/* Animation 1 */
#my-heading {
    font-size: 2em;
    font-family: sans-serif;
    color: #6f99ec;
    animation: move-bg 0.4s linear, font-grow 0.4s linear;
}

@keyframes move-bg {
    0% {
        color: #4a4a4a;
    }
    100% {
        color: #6f99ec;
    }
}

@keyframes font-grow {
    0% {
        font-size: 1.6em;
    }
    50% {
        font-size: 1.8em;
    }
    100% {
        font-size: 2em;
    }
}

/* Animation 2 */
#my-profile {
    border-radius: 50%;
    width: 150px;
    animation: growImage .4s;
    aspect-ratio: 1 / 1;
}

#my-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes growImage {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Animation 3 */
#other-profile {
    border-radius: 50%;
    width: 50px;
    margin-bottom: 0;    
    aspect-ratio: 1/1;
}

#rest #other-profile {
    transition: 0.3s;
}

#rest #other-profile:hover {
    width: 100px;
}

#other-profile-unknown {
    border-radius: 50%;
    font-size: 48px;
    margin-bottom: 0;
    aspect-ratio: 1/1;
}

#rest #other-profile-unknown {
    transition: 0.3s;
}

#rest #other-profile-unknown:hover {
    font-size: 96px;
}

/* Animation 5 */
#error-message {
    width: 40em;
    padding: 10px;
    border-left: solid 5px #ff0000;
    background-color: #f5b3b3;
}

#success-message {
    width: 40em;
    padding: 10px;
    animation-name: tosuccess;
    animation-duration: 0.3s;
    border-left: solid 5px #00ff59;
    background-color: #baf0b7;
}

@keyframes tosuccess {
    0%   {background-color:#f5b3b3; border-left: solid 5px #ff0000;}
    20%  {background-color:#E6C2B4; border-left: solid 5px #BF4016;}
    40%  {background-color:#D8D2B5; border-left: solid 5px #80802D;}
    60%  {background-color:#C9E1B6; border-left: solid 5px #40BF43;}
    80% {background-color: #baf0b7; border-left: solid 5px #00FF59;}
}

/* Like Animation */
.heart-wrapper > span {
    font-size:20px;
}

.heart-wrapper {
    font-size:x-large;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ion-icon.active{
animation:like 0.5s 1;
fill:#db3f8a;
stroke:none;
}

ion-icon{
fill:transparent;
stroke:black;
stroke-width:30;
transition:all 0.5s;
visibility: visible;
}

@keyframes like {
0%   { transform: scale(1); }
90%   { transform: scale(1.2); }
100% { transform: scale(1.1); }
}

/* HW12 Events */
#tabOptions > button:focus:enabled{
    background-color: #ccc;
    color: black;
}

#tabOptions > .checked {
    background-color: #ccc;
    color: black;
}

.Yes {
    color: green;
}

.No {
    color: red;
}

.Maybe {
    color: blue;
}

/* HW13 */
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    align-items: center;
    display:flex;
    border-bottom: 1px solid #c9cfc9;
    justify-content: space-between;
}

#header_options {
    display:flex;
    width: 20vw;
    justify-content: space-between;
}

#below_header{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

#sidebar{
    min-width: 30%;
    max-width: 30%;
    border-right: 1px solid #c9cfc9;
    padding-right: 3px;
    height: 85vh;
    overflow: auto;
}

#rest{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content:flex-start;
    flex-grow: 1;
}

#edit_profile_screen {
    position:absolute;
    height: 110vh;
    background: rgba(50,50,50,0.5);
    backdrop-filter: blur(1px);
    z-index: 2;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit_profile_modal {
    position: relative;
    background: #eef2ee;
    width: 50%;
    height: 60%;
    border-radius: 8px;   
    padding: 8px;
}

#userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-contents {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
    padding: 20px;
}

.event-details > * {
    margin: 0px;
    margin-bottom: 5px;
}

.event-date > div:first-child{
    background-color: black;
    color:white;
}

.event-date > div:nth-child(2){
    background-color: white;
    color:black;
}

.event-date > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-date {
    display: grid;
    width: 100px;
    height: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

#rsvp-yes {
    overflow: scroll;
    width: 15vw;
}

#event-rsvp h4 {
    display: inline-block;
}

textarea {
    max-width: 20vw;
}

#event-form > textarea, #event-form  > input, #event-form > select {
    background-color: #dddddd;
}

#eventsTab > * {
    margin: 20px;
}

details summary > * {
    display: inline;
    vertical-align: middle;
}

#event-form > select{
    display: block;
}

#chatsTab, #eventsTab {
    height: 85vh;
    overflow: auto;
}

#events-options > * {
    margin-right: 10px;
}

.date {
    color: gray;
    font-size: 14px
}