<!DOCTYPE html>
<html>
<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" />
  <link rel="stylesheet" href="style.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  <div id="app">
    <h1>
      My Cool Chat App
    </h1>

    <h2 :id="myUsername ? 'my-heading' : '' ">
      Welcome {{myUsername}}
    </h2>

    <p>
      <button @click="$gf.toggleLogIn">
        <!-- If we have a user ID, we're logged in so show "Log Out" -->
        <!-- Otherwise, show "Log In" -->
        {{ $gf.me? 'Log Out' : 'Log In' }}
      </button>
    </p>

    <!-- If we're not logged in, hide everything except the login button -->
    <template v-if="$gf.me">

      <!-- Begin Problem 1 Solution -->
      <p>
        <form @submit.prevent="setUsername">
          <input v-model="preferredUsername" placeholder="Choose a username..."/>
          <button type="submit" value="Set Username">Set Username</button>
        </form>
        <p id="result" class="transform">{{ usernameResult }}</p>
      </p>
      <!-- End Problem 1 Solution -->

      <p>
        My Name: <name :actor="$gf.me" :editable="true"></name>
      </p>
      <profile :actor="$gf.me" :editable="true"></profile>

      <p id="options">
        Change chat format:
        <input type="radio" id="channel" :value="false" v-model="privateMessaging" />
        <label for="channel">Channel-based public chat</label>

        <input type="radio" id="pm" :value="true" v-model="privateMessaging" />
        <label for="pm">Private Messaging</label>
      </p>

      <p v-if="!privateMessaging" class = "recipient-container">
        <label for="channel">
          Change the channel you're chatting in:
        </label>
        <input list="contextlist" id="channel" v-model="channel" @click="channel = ''"/>
        <datalist id="contextlist">
          <option v-for="context of channels">{{context}}</option>
        </datalist>
      </p>
      <!-- Begin problem 2 solution -->
      <div v-else class = "recipient-container">
        <form @submit.prevent="chatWithUser">
          <label for="recipient">
            Type the user ID of who you'd like to chat with:
          </label>
          <input id="recipient" v-model="recipientUsernameSearch"/>
          <input type="submit" value="Search"/>
          <p v-if="recipient" id="success-message" >Chatting with {{ recipientUsername }}</p>
          <p v-else id="error-message"> Username "{{ recipientUsername }}" does not exist! </p>
        </form>
      </div>
      <!-- End problem 2 solution -->

      <!-- A form for sending messages -->
      <form @submit.prevent="sendMessage" class="sendmsg">
        <input v-model="messageText" placeholder="Type a message..."/>
        <input type="file" accept="image/*" @change="onImageAttachment"/>
        <button type="submit" value="Send" :disabled="(privateMessaging && !recipient) | (!privateMessaging && channel.length == 0) | messageText.length==0">
          Send
        </button>
      </form>
      <ol>
        <!-- List all the messages -->
        <li v-for="message of messages" :key="message.id">

          <!-- Display and edit form if we're editing a message -->
          <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
            <input v-model="editText">
            <input type="submit" value="Save"/>
          </form>

          <!-- Otherwise, display a bunch of properties from the message -->
          <ul v-else class="message-contents">
            <span class="message-from">
              <profile :actor="message.actor"></profile>
              <name :actor="message.actor"></name>
              <span> [{{actorsToUsernames[message.actor]}}] sent</span>
            </span>
            <li>
              {{ message.content }} 
            </li>
            <template v-if="privateMessaging">
              <li>
                To Name: <name :actor="message.bto[0]"></name>
              </li>
              <li>
                To Username: {{ actorsToUsernames[message.bto[0]] }}
              </li>
            </template>
            <li v-if="message.attachment && message.attachment.magnet in imageDownloads">
              <span v-if="imageDownloads[message.attachment.magnet]=='downloading'">
                Image is downloading...
              </span>
              <span v-else-if="imageDownloads[message.attachment.magnet]=='error'">
                Image could not be downloaded!
              </span>
              <img v-else :src="imageDownloads[message.attachment.magnet]" />
            </li>
            <summary class="summary">
              <details class="detail">
                <li>
                  Published at Time: {{ message.published }}
                </li>
                <li>
                  Last Edited at Time: {{ message.updated }}
                </li>
                <li>
                  From Actor ID: {{ message.actor }}
                </li>
                <template v-if="privateMessaging">
                  <li>
                    To Actor ID: {{ message.bto[0] }}
                  </li>
                </template>
                <li>
                  ID: {{ message.id }}
                </li>
                <li>
                  <read :messageid="message.id" :actordict="actorsToUsernames"></read>
                </li>
              </details>
            </summary>

            <template v-if="message.actor==$gf.me">
              <li class="message-buttons">
                <button @click="removeMessage(message)">
                  Delete Message
                </button>
                <button @click="startEditMessage(message)">
                  Edit Message
                </button>
              </li>
            </template>

            <li>
              <like :messageid="message.id"></like>
            </li>
            <li>
              <reply :messageid="message.id" :actordict="actorsToUsernames"></reply>
            </li>
          </ul>
        </li>
      </ol>
    </template>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>

  <template id="profile">
    <span v-if="editable">
      <p> My Profile Picture: </p>
      <span v-if="!image">
        Image could not be downloaded!
      </span>
      <img v-else :src="image" id="my-profile"/>
      <form @submit.prevent="setProfilePic">
        <input type="file" accept="image/*" @change="onImageAttachment"/>
        <input type="submit" value="Set Profile Picture" :disabled="file === null"/>
      </form>
    </span>
    <span v-else>
      <img v-if="image" :src="image" id="other-profile"/>
      <i v-else class='far fa-user-circle' style='font-size:48px' id="other-profile"></i>
    </span>
  </template>

  <template id="like">
    <button @click="toggleLike">
      {{ myLikes.length? 'Unlike' : 'Like' }}
    </button>
    # of likes:  {{ numLikes }}
  </template>

  <template id="reply">  
   <ol v-if="replies">
      <li v-for="message of replies" :key="message.id">
        <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
          <input v-model="editText">
          <input type="submit" value="Save"/>
        </form>
        <ul v-else class="message-contents">
          <span class="message-from">
            <profile :actor="message.actor"></profile>
            <name :actor="message.actor"></name>
            <span> [{{actordict[message.actor]}}] replied</span>
          </span>
          <li>
            {{message.content}}
          </li>
          <li v-if="message.attachment && message.attachment.magnet in imageDownloads">
            <span v-if="imageDownloads[message.attachment.magnet]=='downloading'">
              Image is downloading...
            </span>
            <span v-else-if="imageDownloads[message.attachment.magnet]=='error'">
              Image could not be downloaded!
            </span>
            <img v-else :src="imageDownloads[message.attachment.magnet]" />
          </li>
          <summary class="summary">
            <details class="detail">
              <li>
                Published at Time: {{ message.published }}
              </li>
              <li>
                Last Edited at Time: {{ message.updated }}
              </li>
              <li>
                From Actor ID: {{ message.actor }}
              </li>
              <li>
                ID: {{ message.id }}
              </li>
              <li>
                <read :messageid="message.id" :actordict="actordict"></read>
              </li>
            </details>
          </summary>
          <template v-if="message.actor==$gf.me">
            <li class="message-buttons">
              <button @click="removeMessage(message)">
                Delete Message
              </button>
              <button @click="startEditMessage(message)">
                Edit Message
              </button>
            </li>
          </template> 
        </ul>
      </li>
      <li>
        <form @submit.prevent="sendReply" class="sendmsg">
          <input v-model="messageText" placeholder="Type a reply..."/>
          <input type="file" accept="image/*" @change="onImageAttachment"/>
          <input type="submit" value="Send" :disabled="messageText.length==0"/>
        </form>
      </li>
    </ol>    
  </template>
  
  <template id="read">
    Read By: {{ readsUsername }}
  </template>
</body>
</html>
